<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Hacker School Web Template</title>
  </head>
  <body>

    <main>
      <h1>Hacker School Web Template</h1>

      <p>Programmieren ist cool und kreativ, denn in unserer heutigen, digitalen Zeit sind diejenigen, die Spiele und Apps für Computer oder Handy nicht nur benutzen, sondern selbst entwickeln können, ganz weit vorne. Davon wollen wir in unseren Hacker School Sessions möglichst viele junge Menschen überzeugen. Deswegen begeistern wir sie für die Informationstechnik (IT) und ihre Möglichkeiten. Wir geben Kindern und Jugendlichen spannende Einblicke in die vielfältigen Facetten des Programmierens, zeigen ihnen, was man alles selbst am Computer gestalten kann und vermitteln ihnen digitale Kompetenzen.</p>

      <figure>
        <img src="img/notebook.jpg" alt="Code auf einem Notebook.">
        <figcaption>
          <a href="https://unsplash.com/photos/95YRwf6CNw8">Foto von Unsplash</a>
        </figcaption>
      </figure>

      <p>Als Anwender sind die Kids von heute echte Profis. Schließlich werden sie damit groß, dass Computer, Internet und Smartphones unser tägliches Leben bestimmen. Doch wie die alltäglich gewordenen Technologien genau funktionieren und was dahinter steckt, bleibt den Kindern und Jugendlichen oft ein Geheimnis. Denn in der Schule spielt die IT-Grundausbildung kaum eine Rolle. Dabei sind genau diese digitalen Kompetenzen heutzutage entscheidend, um gesellschaftliche, wirtschaftliche und politische Entwicklungen zu verstehen und mitzugestalten.</p>

      <p>Deshalb sind wir 2014 aktiv geworden und haben die Hacker School ins Leben gerufen. Seitdem können Kinder und Jugendliche mit uns in die Welt der Bits und Bytes eintauchen. Sie dürfen entdecken, wie spannend es ist, selbst zu programmieren und kreativ zu werden. IT-Fachkräfte - unsere Inspirer - geben ehrenamtlich an Wochenenden ihr Wissen und ihre Erfahrungen an junge Menschen weiter. Bei den Sessions stehen vor allem Spaß, praktische Anwendung und eine rege Mitmachkultur im Vordergrund. Vorkenntnisse der Teilnehmenden sind nicht nötig. Unsere Vision: Jeder junge Mensch soll in seiner Bildungslaufbahn mindestens eine Zeile Code geschrieben haben, wissen, wie Computer und Programme aufgebaut sind und ausprobieren, ob IT etwas für die persönliche Zukunft ist.</p>
    </main>

    <footer>
      <a href="https://www.hacker-school.de">Hacker School Website</a>
    </footer>

  </body>
</html>
